@using KredekProtopyte.Data;
@model ImageAndTextTemplate

<div class="container p-5">
    <div class="row">
        @if (Model.IsLeft)
        {
            <div class="col-6 p-5">
                <h2>@Model.Title</h2>
                <p>@Model.Text</p>
            </div>
            <div class="col-6 p-5">
                <img class="img-thumbnail" src="@Model.ImageUrl" />
            </div>
        }
        else
        {
            <div class="col-6 p-5">
                <img class="img-thumbnail" src="@Model.ImageUrl" />
            </div>
            <div class="col-6 p-5">
                <h2>@Model.Title</h2>
                <p>@Model.Text</p>
            </div>
        }
    </div>
</div>